In [5]:
import pandas as pd
import numpy as np

In [2]:
zsh_history_path = "./zsh_history.txt"

In [3]:
commands = []

with open(zsh_history_path) as f:
    for command in f:
        commands.append(command.strip())

In [9]:
df = pd.DataFrame(commands, columns=['command_text'])
df.head()

           command_text
0                  exit
1      chsh -s /bin/zsh
2                  exit
3           echo $SHELL
4  chsh -s $(which zsh)

In [10]:
df.describe()

       command_text
count          7896
unique         2823
top              ls
freq            975

In [15]:
def extract_command(text):
    base_command = text.split()
    return '' if not base_command else base_command[0]

df["command"] = df["command_text"].apply(extract_command)

In [17]:
df['command'].value_counts()[:20]

ls         1065
sudo        992
cd          913
exit        674
git         664
python      564
pactl       282
ssh         195
pip         174
celery      120
vim         119
rm          116
source      107
docker       80
find         75
history      74
npm          72
ng           63
ps           61
python3      54
Name: command, dtype: int64